.article-content {
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
}
.content {
    padding: 5px 25px 15px;
    line-height: 28px;
    text-indent: 2em;
}
.bottom-wrap.top-wrap {
    padding: 12px 30px;
    justify-content: space-between;
    border-top: none;
    color: #EC5CA4;
    font-size: 14px;
}
.top-wrap-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 300px;
}
.top-wrap-left .wrap {
    padding: 0;
    margin: 0 8px;
    color: #EC5CA4;
    font-size: 14px;
}
.top-wrap-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.separator {
    margin: 0 8px;
    color: #e5e5e5;
}
.comment-box {
    padding: 10px 30px;
}
.comment-title {
    padding: 15px 0;
    font-size: 16px;
    color: #EC5CA4;
    border-top: 1px solid #F5C2CE;
}
.comment-input {
    width: 100%;
    min-height: 100px;
    padding: 5px;
    outline: none;
    border-radius: 3px;
    border: solid 1px #F5C2CE;
}
.btn-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}
.submit-comment {
    margin: 10px 0;
    width: 100px;
    height: 35px;
    color: #fff;
    line-height: 35px;
    font-size: 14px;
    border-radius: 3px;
    border: 1px solid #E471A9;
    background-color: #E77CB6;
    outline: none;
}

/*评论列表*/
.comment-list {
    padding: 10px 30px;
}



















